<ion-view view-title="About">
  <ion-content>
  <br>
    <h1 align="center">Welcome to Lango!</h1>


	<div class="card">
	  <div align="justify" class="item item-text-wrap">
	    Lango is a free offline travel tool that will quickly give you access to common travel phrases in many different languages. Lango allows you to view common phrases for many different settings such as restaurants, museums, airports, tourism, ect... and allows you to switch between languages with ease. Lango does not require an internet connection, which can be difficult to access while traveling abroad.  
	  </div>

	</div>

	<div class="card">
	  <div class="item item-divider">
	    Current available languages
	  </div>
	  <div class="item item-text-wrap">
	    Chinese, French, German, Italian, Japanese, Russian, Spanish, Turkish
	  </div>
	  <div class="item item-divider">
	    More comming soon... :)
	  </div>
	</div>

	<div class="card">
	  <div align="justify" class="item item-text-wrap">
	    Created by Andrew Sealy | 2016
	  </div>

	</div>

  </ion-content>
</ion-view>
